          .videos-section {
                display: grid;
                height: 115vh;
                grid:
                'vid vid vid' 530px
                'vid vid vid' 530px
                /410px 410px 410px;
                column-gap: 55px;
                margin-top: 20px;
                place-items: baseline center;
                justify-content: center;
            }
            #videos{
                grid-area: vid;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue;
                margin-left: 30px;
            }
          .home-section {
                display: grid;
                height: 350px;
                row-gap: 50px;
                grid: 
                'img overview' 1fr
                /400px 800px;
            }
            #overview{
                grid-area: overview;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            #img{
                grid-area: img;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            .intro-section {
                display: grid;
                height: 700px;
                row-gap: 50px;
                grid:
                'picture text' 1fr
                'picture text' 1fr
                /400px 800px;
            }
            #picture{
                grid-area: picture;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            #text{
                grid-area: text;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
          .facts-section {
                display: grid;
                height: 100vh;
                grid:
                'fact beaver' 350px
                'fact beaver' 350px
                'fact beaver' 350px
                /1fr 375px;
            }
            #fact{
                grid-area: head;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            #beaver{
                grid-area: menu;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
          .story-section {
                display: grid;
                height: 100vh;
                grid:
                'book book book book' 1fr
                'book book book book' 1fr
                /300px 300px 300px 300px;
                gap: 35px 45px;
                justify-content: center;
            }
            #book{
                grid-area: book;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
                .my-home-button {
    background-color: #ffffff00;
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin: 1px 2px;
  position: relative;
  display: inline-block; 
}

.my-home-button::after {
  content: '';
  position: absolute;
  width: 100%; 
  height: 3px;
  left: 0;
  bottom: 0; 
  background-color: deepskyblue; 
border-radius: 10px; 
  transform: scaleX(0); 
  transform-origin: center; 
  transition: transform 0.3s ease-out; 
}

.my-home-button:hover::after {
  transform: scaleX(0.80);
  transform-origin: center;
}
.my-button {
     background-color: #ffffff00;
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin: 1px 2px;
  position: relative;
  display: inline-block; 
}

.my-button::after {
  content: '';
  position: absolute;
  width: 100%; 
  height: 3px;
  left: 0;
  bottom: 0; 
  background-color: deepskyblue; 
  transform: scaleX(0); 
border-radius: 10px; 
  transform-origin: center; 
  transition: transform 0.3s ease-out; 
}

.my-button:hover::after {
  transform: scaleX(0.80);
  transform-origin: center;
}
body {
    font-family: 'Nunito', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}
.my-button3 {
    background-color: #ffffff00;
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    margin: 1px 2px;
  position: relative;
  display: inline-block; 
}

.my-button3::after {
  content: '';
  position: absolute;
  width: 100%; 
  height: 3px;
  left: 0;
  bottom: 0; 
  background-color: deepskyblue;
  border-radius: 10px; 
  transform: scaleX(0); 
  transform-origin: center; 
  transition: transform 0.3s ease-out; 
}

.my-button3:hover::after {
  transform: scaleX(0.80);
  transform-origin: center;
}
.navbar {
    background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 20px;
    z-index: 1000;
    width: 800px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}
.cool-effect {
    transition: transform 1s ease;
}
.cool-effect:hover {
    transform: scale(1.05);
}
.another-cool-effect {
    transition: transform 1s ease;
}
.another-cool-effect:hover {
    transform: scale(1.05) rotate(5deg);
}
.another-cool-effect2 {
    transition: transform 1s ease;
}
.another-cool-effect2:hover {
    transform: scale(1.05) rotate(-5deg);
}