.grid {
                display: grid;
                height: 100vh;
                grid:
                'head head head' 150px
                'menu main menu2' 1fr
                'foot foot foot' 150px
                /200px 1fr 200px;
            }
            #header{
                grid-area: head;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            #menu{
                grid-area: menu;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            #menu2{
                grid-area: menu2;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            #main{
                grid-area: main;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            #footer{
                grid-area: foot;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
.my-home-button {
    background-color: #ffffff00;
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 1px 2px;
    cursor: pointer;
  position: relative;
  color: #000;
  text-decoration: none; 
  display: inline-block; 
}

.my-home-button::after {
  content: '';
  position: absolute;
  width: 100%; 
  height: 3px;
  left: 0;
  bottom: 0; 
  background-color: #000; 
  transform: scaleX(0); 
  transform-origin: center; 
  transition: transform 0.3s ease-out; 
}

.my-home-button:hover::after {
  transform: scaleX(0.80);
  transform-origin: center;
}
.my-button {
     background-color: #ffffff00;
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 1px 2px;
    cursor: pointer;
  position: relative;
  color: #000;
  text-decoration: none; 
  display: inline-block; 
}

.my-button::after {
  content: '';
  position: absolute;
  width: 100%; 
  height: 3px;
  left: 0;
  bottom: 0; 
  background-color: #000; 
  transform: scaleX(0); 
  transform-origin: center; 
  transition: transform 0.3s ease-out; 
}

.my-button:hover::after {
  transform: scaleX(0.80);
  transform-origin: center;
}
body {
    font-family: 'Nunito', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}
.my-button2 {
        background-color: #ffffff00;
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 1px 2px;
    cursor: pointer;
  position: relative;
  color: #000;
  text-decoration: none; 
  display: inline-block; 
}

.my-button2::after {
  content: '';
  position: absolute;
  width: 100%; 
  height: 3px;
  left: 0;
  bottom: 0; 
  background-color: #000; 
  transform: scaleX(0); 
  transform-origin: center; 
  transition: transform 0.3s ease-out; 
}

.my-button2:hover::after {
  transform: scaleX(0.80);
  transform-origin: center;
}
.my-button3 {
    background-color: #ffffff00;
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 1px 2px;
    cursor: pointer;
  position: relative;
  color: #000;
  text-decoration: none; 
  display: inline-block; 
}

.my-button3::after {
  content: '';
  position: absolute;
  width: 100%; 
  height: 3px;
  left: 0;
  bottom: 0; 
  background-color: #000; 
  transform: scaleX(0); 
  transform-origin: center; 
  transition: transform 0.3s ease-out; 
}

.my-button3:hover::after {
  transform: scaleX(0.80);
  transform-origin: center;
}
nav {
    background-color: whitesmoke;
    padding: 10px;
    text-align: right;;
}