.my-button {
    background-color: #4c90af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.my-button:hover {
    background-color: #4886a2;
    transition: transform 0.2s ease;
    transform: scale(1.05);
}
body {
    font-family: 'Nunito', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}
.my-button2 {
    background-color: #4c90af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.my-button2:hover {
    background-color: #4886a2;
    transition: transform 0.2s ease;
    transform: scale(1.05);
}

/*I love pp - jacques*/
.my-button3 {
    background-color: rgba(255, 255, 255, 0); /* Green */

    border: none;
    color: rgb(94, 174, 199);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}
.my-button3:hover {
    background-color: #4886a2;
    transition: transform 0.2s ease;
    transform: scale(1.05);
}
.grid {
                display: grid;
                height: 100vh;
                grid:
                'head head head' 150px
                'menu main menu2' 1fr
                'foot foot foot' 150px
                /200px 1fr 200px;
            }
            #header{
                grid-area: head;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            #menu{
                grid-area: menu;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            #menu2{
                grid-area: menu2;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            #main{
                grid-area: main;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            #footer{
                grid-area: foot;
                border: 2px solid black;
                text-align: center;
                font-size: 24px;
                color: darkblue
            }
            .navbar{
                position: sticky;
                overflow: hidden;
                background-color: whitesmoke;
                font-family: Arial, sans-serif;
            }
            .navbar a{
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 14px;
                text-decoration: none;
            }