body {
    margin: 0;
    padding: 20px;
    background-color: #1e1e1e;
    font-family: 'Courier New', monospace;
    color: #3b6fd0;
    height: 100vh;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: 'puffin-arcade-tate', 'Courier New', monospace; 
    font-weight: 800; 
    font-style: normal; 
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.location{
    background-color:aqua;
    color: black;
    border-radius:5px;
}

#terminal {
    height: 80%;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    border: 3px solid #3b6fd0;
    padding: 20px;
    background-color: #21292f;
    overflow: hidden;
}

#output {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#input-line {
    display: flex;
    align-items: center;
    border-top: 1px solid #3b6fd0;
    padding-top: 10px;
}

.prompt {
    color: #3b6fd0;
    margin-right: 10px;
    font-weight: bold;
}

#user-input {
    flex: 1;
    background: transparent;
    border: none;
    color: #3b6fd0;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    outline: none;
}

#user-input::placeholder {
    color: #4b82ea;
}

.ascii-art {
    color: #3b6fd0;
    line-height: 1.2;
    font-size: 12px;
}

.options-container {
    display: grid;
    height: 5vh;
    grid: "about restart" 1fr / 1fr 1fr;
    justify-content: center;
    background-color: #21292f;
    width: 20%;
    position: absolute;
    top: 60px;
    right: 150px;
}

#restart-button {
    grid-area: restart;
    background-color: #21292f;
    color: #3b6fd0;
    text-align: center;
    border: 2px solid #3b6fd0;
        border-left: 1px solid #3b6fd0;
    font-size: 16px;
}

#restart-button:hover {
    background-color: #273036;
    color: #3b6fd0;
    border-color: #3b6fd0;
    cursor: pointer;
}

#about-button {
    grid-area: about;
    background-color: #21292f;
    color: #3b6fd0;
    border: 2px solid #3b6fd0;
        border-right: 1px solid #3b6fd0;
    text-align: center;
    font-size: 16px;
}

#about-button:hover {
    background-color: #273036;
    color: #3b6fd0;
    border-color: #3b6fd0;
    cursor: pointer;
}